# PREPARAÇÃO E PRÉ-PROCESSAMENTO DE DADOS

## Importar Bibliotecas

In [1]:
import pandas as pd

## Trabalhar com dados dos jogos de tênis como exemplo
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv

In [3]:
arquivo = "https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv"
dados = pd.read_csv(arquivo)
dados.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2733 non-null   object
 1   tourney_name        2733 non-null   object
 2   surface             2733 non-null   object
 3   draw_size           2733 non-null   int64
 4   tourney_level       2733 non-null   object
 5   tourney_date        2733 non-null   int64
 6   match_num           2733 non-null   int64
 7   winner_id           2733 non-null   int64
 8   winner_seed         1165 non-null   float64
 9   winner_entry        417 non-null    object
 10  winner_name         2733 non-null   object
 11  winner_hand         2733 non-null   object
 12  winner_ht           2724 non-null   float64
 13  winner_ioc          2733 non-null   object
 14  winner_age          2733 non-null   float64
 15  loser_id            2733 non-null   int64
 16  loser_seed          693 non-null    float64
 17  loser_entry         635 non-null    object
 18  loser_name          2733 non-null   object
 19  loser_hand          2733 non-null   object
 20  loser_ht            2698 non-null   float64
 21  loser_ioc           2733 non-null   object
 22  loser_age           2733 non-null   float64
 23  score               2733 non-null   object
 24  best_of             2733 non-null   int64
 25  round               2733 non-null   object
 26  minutes             2650 non-null   float64
 27  w_ace               2636 non-null   float64
 28  w_df                2636 non-null   float64
 29  w_svpt              2636 non-null   float64
 30  w_1stIn             2636 non-null   float64
 31  w_1stWon            2636 non-null   float64
 32  w_2ndWon            2636 non-null   float64
 33  w_SvGms             2637 non-null   float64
 34  w_bpSaved           2636 non-null   float64
 35  w_bpFaced           2636 non-null   float64
 36  l_ace               2636 non-null   float64
 37  l_df                2636 non-null   float64
 38  l_svpt              2636 non-null   float64
 39  l_1stIn             2636 non-null   float64
 40  l_1stWon            2636 non-null   float64
 41  l_2ndWon            2636 non-null   float64
 42  l_SvGms             2637 non-null   float64
 43  l_bpSaved           2636 non-null   float64
 44  l_bpFaced           2636 non-null   float64
 45  winner_rank         2729 non-null   float64
 46  winner_rank_points  2729 non-null   float64
 47  loser_rank          2707 non-null   float64
 48  loser_rank_points   2707 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.0+ MB

In [5]:
dados.describe(include="all")

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,2733,2733,2733,2733.000000,2733,2.733000e+03,2733.000000,2733.000000,1165.000000,417,...,2636.000000,2636.000000,2636.000000,2637.000000,2636.000000,2636.000000,2729.000000,2729.000000,2707.000000,2707.000000
unique,114,114,3,NaN,5,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2021-580,Australian Open,Hard,NaN,A,NaN,NaN,NaN,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,127,127,1608,NaN,1569,NaN,NaN,NaN,NaN,234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,62.609587,NaN,2.021060e+07,243.248811,127500.755946,7.687554,NaN,...,50.118361,33.325493,14.494689,12.420554,4.843323,8.714719,70.593624,2229.913888,103.034355,1390.971555
std,NaN,NaN,NaN,41.521804,NaN,2.855522e+02,73.915192,33930.996942,7.133621,NaN,...,19.075552,14.205041,6.857036,4.224477,3.253624,4.126347,103.028379,2484.822372,149.125316,1460.007475
min,NaN,NaN,NaN,2.000000,NaN,2.021010e+07,1.000000,100644.000000,1.000000,NaN,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,32.000000,NaN,2.021032e+07,224.000000,105575.000000,3.000000,NaN,...,36.000000,23.000000,10.000000,9.000000,2.000000,6.000000,19.000000,858.000000,37.000000,709.000000
50%,NaN,NaN,NaN,64.000000,NaN,2.021061e+07,276.000000,106432.000000,6.000000,NaN,...,47.000000,31.000000,14.000000,11.000000,4.000000,8.000000,47.000000,1344.000000,68.000000,993.000000
75%,NaN,NaN,NaN,128.000000,NaN,2.021082e+07,289.000000,128034.000000,10.000000,NaN,...,61.000000,42.000000,18.000000,15.000000,7.000000,11.000000,87.000000,2423.000000,112.000000,1595.000000
max,NaN,NaN,NaN,128.000000,NaN,2.021120e+07,300.000000,210107.000000,32.000000,NaN,...,165.000000,104.000000,48.000000,31.000000,27.000000,38.000000,1758.000000,12113.000000,2146.000000,12113.000000

In [6]:
dados.isnull()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2729,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2730,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2731,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2732,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False

Verificar valores nulos nas colunas

In [7]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1568
winner_entry          2316
winner_name              0
winner_hand              0
winner_ht                9
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            2040
loser_entry           2098
loser_name               0
loser_hand               0
loser_ht                35
loser_ioc                0
loser_age                0
score                    0
best_of                  0
round                    0
minutes                 83
w_ace                   97
w_df                    97
w_svpt                  97
w_1stIn                 97
w_1stWon                97
w_2ndWon                97
w_SvGms                 96
w_bpSaved               97
w_bpFaced               97
l_ace                   97
l_df                    97
l_svpt                  97
l_1stIn                 97
l_1stWon                97
l_2ndWon                97
l_SvGms                 96
l_bpSaved               97
l_bpFaced               97
winner_rank              4
winner_rank_points       4
loser_rank              26
loser_rank_points       26
dtype: int64

Verificar coluna "winner_entry", que tyem muitos valores nulos e indica como o vcencedor entrou no torneio.

In [8]:
dados["winner_entry"].describe()

count     417
unique      6
top         Q
freq      234
Name: winner_entry, dtype: object

In [9]:
dados["winner_entry"].unique()

array([nan, 'Q', 'WC', 'LL', 'SE', 'Alt', 'PR'], dtype=object)

Apagar todas as linhas que o atributo "loser_rank" é nulo, porque são poucas as ocasiões e isso pode implicar erros nos resultados.

In [14]:
dados["loser_rank"].info()
dados.dropna(subset=["loser_rank"], inplace=True)
dados["loser_rank"]

<class 'pandas.core.series.Series'>
Index: 2707 entries, 0 to 2732
Series name: loser_rank
Non-Null Count  Dtype
--------------  -----
2707 non-null   float64
dtypes: float64(1)
memory usage: 42.3 KB

0        71.0
1        95.0
2       197.0
3        61.0
4       137.0
        ...
2728     11.0
2729     12.0
2730     15.0
2731     22.0
2732     19.0
Name: loser_rank, Length: 2707, dtype: float64

Apagar as colunas que todos os valores são nulos.

In [17]:
dados.dropna(axis=1, how="all")
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

Alterar valor dos dados nulos em uma coluna

In [18]:
dados["loser_entry"].unique()

array([nan, 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

In [19]:
dados["loser_entry"].fillna(value="X", inplace=True)

In [20]:
dados["loser_entry"].unique()

array(['X', 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

Alterar mais de um atributo, com condições diferentes

In [21]:
dados["w_ace"].unique()

array([nan,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22.,  0., 23., 21.,
       32., 26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31.,
       36.])

In [22]:
dados["loser_ht"].unique()

array([180., 183., 188., 185., 193., 191., 173., 170., 178., 196., 198.,
       175., 181., 211., 190., 208., 203.,  nan, 172., 206., 194., 201.,
       189.])

In [23]:
dados.fillna(value={"w_ace":0, "loser_ht":dados["loser_ht"].mean()}, inplace=True)

In [24]:
dados["w_ace"].unique()

array([ 0.,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22., 23., 21., 32.,
       26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31., 36.])

In [25]:
dados["loser_ht"].unique()

array([180.        , 183.        , 188.        , 185.        ,
       193.        , 191.        , 173.        , 170.        ,
       178.        , 196.        , 198.        , 175.        ,
       181.        , 211.        , 190.        , 208.        ,
       203.        , 186.63866171, 172.        , 206.        ,
       194.        , 201.        , 189.        ])

Usar o método ffill para projetar um dado para o resgistro seguinte, ou seja, se o dado for nulo ele será substituído pelo valor do dado anterior. Útil em Séries Temporais.

In [32]:
dados["minutes"].fillna(method="ffill", inplace=True)

Identificar dados duplicados

In [33]:
dados.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2728    False
2729    False
2730    False
2731    False
2732    False
Length: 2707, dtype: bool

In [34]:
dados.duplicated().sum()

0

Eliminar duplicados de uma coluna (nem sempre se quer fazer isso, cuidado).

In [36]:
dados.drop_duplicates(subset=["tourney_name"], inplace=True)
dados["tourney_name"].head(10)

0      Tokyo Olympics
64             Munich
91       Queen's Club
122            Gstaad
149           Newport
176            Bastad
203         Kitzbuhel
230         Stuttgart
257            Geneva
284            Vienna
Name: tourney_name, dtype: object

In [37]:
dados.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,110.000000,1.100000e+02,110.000000,110.000000,11.000000,108.000000,110.000000,110.000000,2.000000,110.000000,...,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,109.000000,109.000000,110.000000,110.000000
mean,28.272727,2.021077e+07,147.463636,132444.963636,2.636364,185.814815,26.620909,127675.763636,7.500000,186.035600,...,46.113208,29.518868,12.481132,10.933962,4.462264,8.141509,130.963303,1659.550459,206.081818,774.890909
std,31.388045,3.299224e+02,127.788578,35819.636900,2.540580,5.913944,4.900966,36480.909687,0.707107,6.694571,...,19.663028,13.125933,5.926906,3.002440,3.604691,4.681145,167.072003,2475.617400,276.922608,722.899353
min,2.000000,2.021010e+07,1.000000,100644.000000,1.000000,170.000000,17.800000,103852.000000,7.000000,170.000000,...,16.000000,5.000000,2.000000,4.000000,0.000000,1.000000,1.000000,7.000000,5.000000,1.000000
25%,4.000000,2.021050e+07,1.000000,105606.250000,1.000000,183.000000,23.550000,105526.000000,7.250000,183.000000,...,33.250000,20.250000,8.000000,9.000000,2.000000,5.000000,42.000000,477.000000,67.000000,238.000000
50%,32.000000,2.021092e+07,239.000000,124940.500000,2.000000,185.000000,25.100000,106165.500000,7.500000,185.000000,...,42.500000,27.000000,12.500000,10.000000,4.000000,7.500000,95.000000,811.000000,101.500000,780.000000
75%,32.000000,2.021111e+07,271.000000,136022.500000,2.000000,188.000000,29.525000,130971.750000,7.750000,189.500000,...,56.000000,37.000000,16.000000,13.000000,6.000000,11.000000,155.000000,1492.000000,251.750000,999.000000
max,128.000000,2.021120e+07,286.000000,209867.000000,9.000000,198.000000,40.100000,208502.000000,8.000000,211.000000,...,165.000000,90.000000,32.000000,18.000000,27.000000,38.000000,1165.000000,12113.000000,1921.000000,5150.000000

Vamos ver como fazer um deslocamento
Dados das ações da Apple: https://finance.yahoo.com/quote/AAPL/history/

In [42]:
arquivo2 = "AAPL.csv"
dados2 = pd.read_csv(arquivo2)
dados2

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-06-07,178.440002,181.210007,177.320007,177.820007,176.880646,61944600
1,2023-06-08,177.899994,180.839996,177.460007,180.570007,179.616104,50214900
2,2023-06-09,181.500000,182.229996,180.630005,180.960007,180.004044,48870700
3,2023-06-12,181.270004,183.889999,180.970001,183.789993,182.819092,54274900
4,2023-06-13,182.800003,184.149994,182.440002,183.309998,182.341629,54929100
...,...,...,...,...,...,...,...
248,2024-06-03,192.899994,194.990005,192.520004,194.029999,194.029999,50080500
249,2024-06-04,194.639999,195.320007,193.029999,194.350006,194.350006,47471400
250,2024-06-05,195.399994,196.899994,194.869995,195.869995,195.869995,54156800
251,2024-06-06,195.690002,196.500000,194.169998,194.479996,194.479996,41181800
252,2024-06-07,194.649994,196.940002,194.139999,196.889999,196.889999,52724576

In [43]:
dados2["close_ontem"] = dados2["Close"].shift(1)

In [44]:
dados2

,Date,Open,High,Low,Close,Adj Close,Volume,close_ontem
0,2023-06-07,178.440002,181.210007,177.320007,177.820007,176.880646,61944600,NaN
1,2023-06-08,177.899994,180.839996,177.460007,180.570007,179.616104,50214900,177.820007
2,2023-06-09,181.500000,182.229996,180.630005,180.960007,180.004044,48870700,180.570007
3,2023-06-12,181.270004,183.889999,180.970001,183.789993,182.819092,54274900,180.960007
4,2023-06-13,182.800003,184.149994,182.440002,183.309998,182.341629,54929100,183.789993
...,...,...,...,...,...,...,...,...
248,2024-06-03,192.899994,194.990005,192.520004,194.029999,194.029999,50080500,192.250000
249,2024-06-04,194.639999,195.320007,193.029999,194.350006,194.350006,47471400,194.029999
250,2024-06-05,195.399994,196.899994,194.869995,195.869995,195.869995,54156800,194.350006
251,2024-06-06,195.690002,196.500000,194.169998,194.479996,194.479996,41181800,195.869995
252,2024-06-07,194.649994,196.940002,194.139999,196.889999,196.889999,52724576,194.479996

Transformar dados categóricos (qualitativos) em dados numéricos

In [47]:
dados = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv")
dados["winner_ioc"]
dados["winner_ioc"].unique()

array(['USA', 'GER', 'IND', 'AUS', 'CZE', 'KAZ', 'SRB', 'BLR', 'COL',
       'CRO', 'FRA', 'GBR', 'GEO', 'ESP', 'ITA', 'RUS', 'ARG', 'POL',
       'JPN', 'GRE', 'URU', 'LTU', 'NOR', 'SVK', 'CAN', 'BEL', 'NED',
       'AUT', 'SWE', 'CHI', 'RSA', 'TPE', 'FIN', 'SUI', 'DEN', 'HUN',
       'BUL', 'SLO', 'BIH', 'POR', 'MEX', 'ECU', 'PER', 'BRA', 'BOL',
       'UKR', 'MDA', 'TUN', 'KOR', 'TUR', 'ISR', 'ROU', 'BAR', 'INA',
       'DOM', 'ESA', 'PAR', 'THA'], dtype=object)

Veja a documentação do scikit-learn sobre preprocessing!

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
paises = dados["winner_ioc"]
paises

0       USA
1       GER
2       IND
3       AUS
4       CZE
       ...
2728    ITA
2729    RUS
2730    RUS
2731    GER
2732    NOR
Name: winner_ioc, Length: 2733, dtype: object

In [51]:
lencoder = LabelEncoder()
paises_numeros = lencoder.fit_transform(paises)
paises_numeros
paises.head(10)

0    USA
1    GER
2    IND
3    AUS
4    CZE
5    KAZ
6    GER
7    SRB
8    USA
9    BLR
Name: winner_ioc, dtype: object

In [52]:
dados["paises_numeros"] = paises_numeros
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,paises_numeros
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0,57
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0,24
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0,28
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0,1
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0,30
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0,45
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0,45
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0,24
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0,38